<div class="container-fluid">
    <!-- Header -->
     <app-header></app-header>


  
    <!-- Welcome Banner -->
    <section class="welcome-banner text-center text-white py-5" style="background: url('https://images.pexels.com/photos/2041540/pexels-photo-2041540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center/cover;">
      <h2 class="font-weight-bold">Welcome to Our Library!</h2>
      <p class="font-weight-bold">Explore, Borrow, and Enjoy the World of Books</p>
      <button class="btn btn-primary mx-2" (click)="onSearchBooks()">Search Books</button>
      <button class=" btn btn-light mx-2">Sign Up / Log In</button>
    </section>
  
    <!-- Search Bar -->
    <section class="search-bar my-4 text-center">
      <input type="text" class="form-control w-50 mx-auto" placeholder="Search books by title, author, or ISBN">
    </section>
  
    <!-- Features Section -->
    <section class="features my-5 text-center">
      <div class="row">
        <div class="col-md-3">
          <i class="fas fa-book fa-3x"></i>
          <h4>Book Catalog</h4>
          <p>Find your favorite books.</p>
        </div>
        <div class="col-md-3">
          <i class="fas fa-user fa-3x"></i>
          <h4>User Account </h4>
          <p>Manage User Account.</p>
        </div>
        <div class="col-md-3">
          <i class="fas fa-bell fa-3x"></i>
          <h4>Admin Account</h4>
          <p>Manage Admin Account.</p>
        </div>
        <div class="col-md-3">
          <i class="fas fa-chart-bar fa-3x"></i>
          <h4>Manage Books</h4>
          <p>Manage and issue books.</p>
        </div>
      </div>
    </section>
  
    <!-- Recommended Books -->
    <section class="recommended-books my-5">
      <h3 class="text-center">Popular Books</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_360,c_scale,dpr_1.5/jackets/9781408855713.jpg" alt="Book 1" class="img-fluid">
          <h5>Harry Potter and Deathly Hollows</h5>
          <p>JK Rowling</p>
         
        </div>
        <div class="col-md-3">
          <img src="https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_360,c_scale,dpr_1.5/jackets/9781408855652.jpg" alt="Book 2" class="img-fluid">
          <h5>Harry Potter and Philospher Stone</h5>
          <p>JK Rowling</p>
        
        </div>
        <!-- Add more books as needed -->
      </div>
    </section>
  
    <!-- Footer -->
     <app-footer></app-footer>
 
  </div>
  